body{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    text-align: center;
    padding: 30px;
}

#note-input-id {
    border-radius: 5px;
}

#note-add-id {
    border-radius: 5px;
}

#item-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 50px;
    text-align: left;
}

.item-wrapper-class {
    float: left;
    padding: 20px;
}

.checkbox-class {
    display: inline;
}

.note-text-class {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.delete-class {
    display: inline;
    float: right;
    padding: 0px;
    text-align: center;
    font-size: 10px;
    width: 18px;
    height: 18px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    border: 2px solid black;
}